{% extends "entries/base_entries.html" %}
{% block entry_content %}

<strong>
    {{ object.title }}
</strong>
<br />

{{ object.content}}
<br />
<br />

{% if not user.is_anonymous %}
<div class="operation">
    <a href="/entries/update/{{ object.id }}">編集</a>
    <a href="/entries/delete/{{ object.id }}">削除</a>
</div>
<br />
{% endif %}

<div class="operation">
    <a href="/entries/">一覧に戻る</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

{% endblock entry_content %}
