{% extends "entries/base_entries.html" %}
{% block entry_content %}

{% for entry in object_list %}
<strong>
    <a href="/entries/detail/{{ entry.id }}">{{ entry.title }}</a>
</strong>

<br />
{{ entry.content }}
<br />

{% if not user.is_anonymous %}
<br />
<a href="/entries/update/{{ entry.id }}">編集</a>
<a href="/entries/delete/{{ entry.id }}">削除</a>
{% endif %}

<hr />
{% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

{% endblock entry_content %}
