{% extends "entries/base_entries.html" %}
{% block entry_content %}

<form action="." method="post">
    {% csrf_token %}
    <p>削除します．よろしいですか？</p><br />

    <input type="submit" />
    <input type="button" value="いいえ" onclick="location.href='/entries/'" />
</form><br />

<div class="operation">
    <a href="/entries/">一覧に戻る</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

{% endblock entry_content %}
